* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  /* Firefox */
  -webkit-box-sizing: border-box;
  /* Safari */
}
body {
  font-family: "宋体";
  background-position: center 0;
  background-repeat: no-repeat;
  width: 1349px;
  height: auto;
  padding-top: 83px;
}
img {
  vertical-align: middle;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 4px;
  vertical-align: middle;
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
.dropup {
  display: inline-block;
  width: 0;
  height: 0;
  border-bottom: 5px solid;
  margin-left: 4px;
  vertical-align: middle;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}
body {
  padding-top: 83px;
}
.ct {
  border: 1px solid transparent;
  width: 82.8762046%;
  height: 100%;
  margin: 0 auto;
}
body > div.Inmiddle-container {
  width: 1349px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  position: absolute;
  left: 50%;
  margin-left: -674.5px;
}
