
<!-- ------------------------------------------------------------------------------------深度链接 -->
<div id="links">
<div class="ct">
<div class="middle">
<!-- ------------------------------链接项目1 -->
<div class="item">
    <h3>产品中心</h3>
    <ul>
        <li><a href="http://www.megalinkware.com/media-windchill.html" target="_blank">Windchill</a></li>
        <li><a href="http://www.megalinkware.com/media-arbortext.html" target="_blank">Arbortext</a></li>
        <li><a href="http://www.megalinkware.com/media-flexplm.html" target="_blank">HexPLM</a></li>
        <li><a href="http://www.megalinkware.com/media-mathcad.html" target="_blank">MSC产品</a></li>
        <li><a href="http://www.megalinkware.com/media-mscproduct.html" target="_blank">公司自主产品</a></li>
    </ul>
</div>

<!-- ------------------------------链接项目2 -->
<div class="item">
    <h3>解决方案</h3>
    <ul>
        <li><a href="http://www.megalinkware.com/media-fanganplm.html" target="_blank">产品生命周期管理 PLM</a></li>
        <li><a href="http://www.megalinkware.com/media-fangantdms.html" target="_blank">航空技术资料管理 TDMS</a></li>
        <li><a href="http://www.megalinkware.com/media-fangantims.html" target="_blank">铁路技术信息管理 TIMS</a></li>
        <li><a href="http://www.megalinkware.com/media-fanganlbj.html" target="_blank">零部件分类与重用解决方案</a></li>
        <li><a href="http://www.megalinkware.com/media-fangangd.html" target="_blank">更多解决方案</a></li>
    </ul>
</div>

<!-- ------------------------------链接项目 3-->
<div class="item">
    <h3>成功案例</h3>
    <ul>

        <li><a href="http://www.megalinkware.com/case-car.html" target="_blank">汽车领域</a></li>
        <li><a href="http://www.megalinkware.com/case-aviation.html" target="_blank">航空领域</a></li>
        <li><a href="http://www.megalinkware.com/case-heavy.html" target="_blank">重工领域</a></li>
        <li><a href="http://www.megalinkware.com/case-retail.html" target="_blank">服装/鞋/零售领域</a></li>
        <li><a href="http://www.megalinkware.com/case-more.html" target="_blank">其它领域</a></li>
    </ul>
</div>

<!-- ------------------------------链接项目 4-->
<div class="item">
    <h3>关于我们</h3>
    <ul>
        <li><a href="http://www.megalinkware.com/about-us.html" target="_blank">公司简介</a></li>
        <li><a href="http://www.megalinkware.com/about-us1.html" target="_blank">企业文化</a></li>
        <li><a href="http://www.megalinkware.com/about-us3.html" target="_blank">荣誉资质</a></li>
        <li><a href="http://www.megalinkware.com/about-usc.html" target="_blank">联系我们</a></li>
        <li><a href="http://www.megalinkware.com/about-us5.html" target="_blank">新闻与活动</a></li>
    </ul>
</div>

<!-- ------------------------------链接项目5 -->
<div class="item last-link">
    <h3>联系我们</h3>
   <div class="container">
       <div class="icon">
       <a class="qq" href="@@contactus"><i class="iconfont icon-adressfilled"></i></a>
       <a class="weixin" href="@@contactus"><i class="iconfont icon-ditie"></i></a>
       <a class="weibo" href="@@contactus"><i class="iconfont icon-phone"></i></a>
       </div>
       <div class="weixin-image">
           <img src="@@weixin1" alt="weixin">
       </div>
   </div>
</div>
</div>
</div>
</div>

<!-- ------------------------------------------------------------------------------------footer -->
<div id="footer">
<div class="ct">
<div class="container">
<span class="left">版权所有  禁止复制  违者必究</span>
<span class="right">上海美嘉林软件科技有限公司  沪ICP备08110535-2号</span>
</div>
</div>
</div>
